    @mixin box-shadow {
        -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
    }
    
    @mixin border-box {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    @mixin unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @function nodeValueWidth($appWidth, $appPaddingSide, $margin-left) {
        @return $appWidth - ($appPaddingSide*2) - $margin-left;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 0;
    }
    
    #header {
        margin: 0 auto;
        text-align: center;
        a {
            font-family: "Curlz MT";
            font-size: 30px;
            @include unselectable;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline: none;
            }
        }
    }
    
    @media screen and (min-width: 1081px) {
        $appWidth: 700px;
        $appPaddingSide: 40px;
        $appMargin: (25px auto);
        #app {
            max-width: $appWidth;
            margin: $appMargin;
            background-color: white;
            padding: 35px 40px;
            min-height: 85%;
            @include border-box;
            @include box-shadow;
        }
        #manual {
            position: fixed;
            top: 0;
            right: 0;
            width: 15%;
            #manual-button {
                float: right;
                margin-bottom: 20px;
            }
            #manual-content {
                clear: right;
            }
        }
    }
    
    @media screen and (max-width: 1080px) and (min-width: 721px) {
        #app {
            max-width: 80%;
            margin: 10px auto;
            background-color: white;
            padding: 10px 13px;
            min-height: 65%;
            @include border-box;
            @include box-shadow;
        }
        #manual {
            margin-top: 20px;
            position: relative;
            width: 100%;
            #manual-button {
                float: left;
                margin-bottom: 20px;
            }
            #manual-content {
                clear: left;
            }
        }
    }
    
    @media screen and (max-width: 720px) {
        #app {
            max-width: 100%;
            margin: 10px 0;
            background-color: white;
            padding: 10px 13px;
            min-height: 30%;
            @include border-box;
            @include box-shadow;
        }
        #manual {
            margin-top: 20px;
            position: relative;
            width: 100%;
            #manual-button {
                float: left;
                margin-bottom: 20px;
            }
            #manual-content {
                clear: left;
            }
        }
    }
    
    .node {
        margin: 5px 0;
        position: relative;
        &.highlighted {
            background-color: #f5f5f5;
        }
        &.completed {
            >.value {
                text-decoration: line-through;
            }
            >.ctrlBar {
                .completeTask {
                    text-decoration: line-through;
                }
            }
        }
        .bullet {
            position: absolute;
            @include unselectable;
            &:hover {
                cursor: pointer;
            }
            &.bullet-clicked {
                color: red;
            }
        }
        .value {
            $margin-left: 15px;
            margin-left: $margin-left;
            // min-width: nodeValueWidth($appWidth,$appPaddingSide,$margin-left);
            width: 100%;
            height: 20px;
            display: inline-block;
            z-index: 1;
            &:focus {
                outline: none;
            }
        }
        .children {
            margin-left: 30px;
        }
        .ctrlBar {
            position: absolute;
            top: 15px;
            left: -15px;
            padding: 2.5px 5px;
            background-color: #ccc;
            z-index: 10;
            border-radius: 5px;
            border-width: 0.5px;
            border-style: solid;
            @include border-box;
            >ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 10px;
                li {
                    &:hover {
                        cursor: pointer;
                    }
                    width: 100%;
                }
            }
        }
    }
    
    #footer {
        clear: both;
        font-family: Helvetica;
        text-align: center;
        font-size: 10px;
        @include unselectable;
    }
    
    .hidden {
        display: none;
    }
    
    #checkboxForm {
        position: fixed;
        top: 0;
        left: 0;
    }
